REACT_APP_SERVER_URL="http://localhost:3030"
REACT_APP_FRONTEND="http://localhost:3000"
REACT_APP_PROJECT_NAME="aisnFinance"
REACT_APP_PROJECT_LABEL="AISN Finance"
REACT_APP_PROJECT_ID="6a044da2666a00c11537065d"
REACT_APP_LAST_UPDATED="5/13/2026"
REACT_APP_SECRETKEY="3b27077e0b87e2f837787c85ac4be8e75b9655b28e8ffa9801d411aa0fb38306"
REACT_APP_EMAIL_DOMAIN="example.com"
REACT_APP_USE_USER_INVITE_SIGNUP=true
REACT_APP_ENV=dev
REACT_APP_DATE="dd/MM/yyyy"
REACT_APP_TIME="hh:mm:ss"
REACT_APP_LANGUAGE="en_MY"
REACT_APP_CURRENCY="MYR"
REACT_APP_COUNTRY="MY"
